
.logo img {
    max-width: 150px; /* Adjust the size as needed */
    height: auto; /* Maintain aspect ratio */
}

body {
    font-family: Arial, sans-serif;
}
.img-fluid {
    max-width: 100%;
    height: 500px !important;
}

@media  (max-width: 768px) {
    .img-fluid {
        height: 300px !important;
        max-width: fit-content;
    }
}
    
.about-text {
    padding-top: 82px !important; 
}

.line {
    width: 100%;
    height: 4rem;
    overflow: hidden;
    border: 1px solid black;
    padding: 0;
    margin-bottom: 16px;
  }
  

/* lineup class and keyframes */
.lineUp {
  animation: 2s anim-lineUp ease-out infinite;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

